language: node_js

node_js:
  - 6
  - node

after_success:
  - npm install codecov
  - $(npm bin)/nyc report --reporter=lcovonly
  - $(npm bin)/codecov
  - npm run docs
  - 'if [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" != "true" ]]; then
      PUBLIC_SURGE_USERNAME=$(echo -n "$SURGE_LOGIN" | sed "s/^[^@]*/${SURGE_LOGIN:0:1}***/");
      npm install surge;
      $(npm bin)/surge public 2>&1 | sed "s/$SURGE_LOGIN/$PUBLIC_SURGE_USERNAME/g";
      echo "Published docs.";
    fi'
